<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SapMock.Url" value="http://localhost:8400" />
    <add key="Rfc.Destination" value="EIM_ECC" />
    <add key="Rfc.User" value="RFCEIM" />
    <add key="Rfc.Client" value="100" />
    <add key="Device.Id" value="RF-0417" />
    <add key="Default.Plant" value="1010" />
    <add key="Label.Printer" value="LBL1" />
    <add key="Profile.Config" value="..\..\..\..\config\demo-profile.json" />
    <add key="Timings.Path" value="timings.csv" />
    <add key="RdpSim.Enabled" value="false" />
    <add key="RdpSim.Port" value="3390" />
    <add key="RdpSim.AssemblyPath" value="..\..\..\..\rdp-sim\bin\Release\net48\RdpSim.dll" />
  </appSettings>
</configuration>
