/*
- Nav Bar Adjustments

*/
.goToUser{
    display: none;
}

.center-block {
    
}

.cc_product_name {
    margin-left: auto;
    margin-right: auto;
}

.cc_list-inline{
    display: flex;
}

.CMI-Language, .CMI-Sites, .CMI-Support {
    display: none;
}

.list-inline >li{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 8px !important;
}

.CMI-global-nav-icon-margins{
    margin-right: 2px;
}

.navbar-nav {
    margin-top: 0px;
    margin-right: -38px;
    margin-bottom: 0px;
    margin-left: -47px;
}

.navbar-toggle {
    margin-top: -22px !important;
    margin-right: -2px !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.cc_footer_browser .container-fluid {
   padding-left: 0px;
   padding-right: 0px;
}

.cc_footer_browser .container-fluid > .container {
   padding-left: 0px;
   padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.CMI-Footer-CopyRight2 {
    width: 250px !important;    
    font-size: 10px;
    float: left;
    padding-top: 16px !important;
}

.CMI-Footer-CopyRight-Text2 { 
    padding-top: 16px; 
    padding-bottom: 0px;
    padding-left: 0px;
}

.CMI-Footer-Privacy {
    float: left;
    font-size: 12px;
    color: white;
    padding-top: 10px;
    margin-bottom: 20px;
}