/******************************************************
 * CSS override for CloudCraze.
 * Override any CSS provided by OOTB CloudCraze below
*******************************************************/

@import "mobile-styles.css" screen and (max-width: 768px);
@import "iconStyle.css";

@media screen and (min-width: 1200px) {
  .container, .carousel {
    width: 1200px;
  }
}

@font-face {
    font-family: 'iconsregular';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons-webfont.woff2') format('woff2'),
         url('../fonts/icons-webfont.woff') format('woff'),
        url('icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;		
}

@font-face2 {
    font-family: 'CMI-CoreWebIconSet';
    src: url('../fonts/CMI-CoreWebIconSet.eot');
    src: url('../fonts/CMI-CoreWebIconSet.woff2') format('woff2'),
         url('../fonts/CMI-CoreWebIconSet.woff') format('woff'),
        url('CMI-CoreWebIconSet.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Calibri, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

*/.icon-Engine-2:before {
  font-family: 'CMI-CoreWebIconSet';
  content: "\e936";
}*/

.panel-default{
    border-color: #fff!important;
}

a {
    color: teal!imporant;
    text-decoration: none!imporant;
}

a:link {
    color: teal!imporant;
    text-decoration: none!imporant;
}

a:hover {
    color: teal!imporant;
    text-decoration: underline;
}

.CMI-Icons {
    font-family: 'iconsregular';    
    color: #DCDCDC;
    float: left;
    font-size: 24px;
}

.CMI-Subscription-Icons {
    font-family: 'iconsregular';    
    float: left;
    color: #000000;
    font-size: 24px;
    padding-right: 10px;
}

.CMI-Subscription-Icons2 {
    font-family: 'CMI-CoreWebIconSet';    
    float: left;
    color: #000000;
    font-size: 24px;
    padding-right: 10px;
}

.CMI-text-icons {
    font-family: 'iconsregular';  
    font-size: 20px;
    padding-right: 5px;
    padding-top: 5px;
    vertical-align: middle;
}

.CMI-global-nav-icon-margins {
    margin-right: 5px;
    color: #999999;
}

.list-inline>li {
    margin-left: 12px!important;
}

.wishlist-links, .delete-links{
    font-size: 10px;
    color: teal;
}

.panel-body {
    padding: 5px;
}

.panel {
    box-shadow: 0 0px 0px rgba(0,0,0,0)!important;
}

h1{
    color: red;
}

h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}

h3{
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
}

label {
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: normal;
}

.btn {
    background-color: gainsboro;
    font-size: 12px;
}

.btn-primary, .CMI-btn-teal {
    background-color: teal;
    color: #fff;
    border: none;
}

.btn-secondary, .CMI-btn-blue {
    background-color: #0f4f77;
    color: #fff;
    border: none;
}

.navbar-inverse 
.navbar-nav>li>a {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-inverse, nav-bar {
    color: #fff!important;    
}

.navbar-default{
    color: #ffffff;
    height: 62px;
    padding-top:0px;
    border: 0!important;
}


.navbar-default 
.navbar-nav>li>a:hover, 
.navbar-default 
.navbar-nav>li>a {
    color: #ffffff !important;
    background-color: transparent;
   
}

.navbar-default 
.navbar-nav>li>a:hover, 
.navbar-default 
.navbar-nav>li>a:focus {
    color: black!important;
    background-color: #ffffff;
}

.cc_navbar_row {
    height: 40px;
}

.CMI-navbar-nav{
    margin-top: -7px;
}

.cc_my_account, 
.cc_loginoutsec, 
.cc_customer, 
.cc_language, 
.cc_OtherSites, 
.cc_my_chead, 
.CMI-customer-business {
    padding: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    text-transform: uppercase;  
}

.CMI-customer-business{
    font-size: 12px;
    font-weight: bold;
}

.cc_my_account:hover, 
.cc_customer:hover, 
.cc_loginoutsec:hover, 
.cc_language:hover, 
.CMI-other-cummins:hover, 
.cc_my_chead:hover {
    background-color:#4f4e4e;
    color: #ffffff;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px; 
    float: right;
}

.CMI-UserDropDown {
    text-transform:initial;
}

.flex-container > div {
    padding-left: 40px;
}

/*hide the CloudCraze logo */

.cc_footer_logo_col{
    display: none;
}

/* hide the scroll to Top*/

.cc_scroll-top {
    display: none;
}


/* Main Nav Bar */

#mast-bkground-clr{
    background-color: #d90a07;
    color: white;
}

.nav{
    height: 40px;
    float: right;
    margin-top: -7px;
    font-size: 13px;
    font-weight: 500;
}

.CMI_navbar {
    margin-bottom: 0px;
}

/* ----- main nav bar top alignment */

.CMI-Main-Menu{
    padding-top: 1px;
}

.fa{
    padding-right: 8px;
    padding-left: 10px;
    font-size: 18px;
}

.header, .cc_header {
    
}
.cc_lssec > p {
    font-size: 13px;
}

.row cc_navbar_row{
    height: 40px;
}

.cc_navbar_col_acct {
    float: right;
    padding-top: 5px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* --- Primary Nav Bar Menu Interaction ---- */

.CMI-Logo {
    margin-top: 7px;
    margin-right: 38px;
}

#logo {
    width: 42px !important;
    height: auto;   
    padding-top:5px;
}

.CMI-SiteId{
    width: 200px;
    margin-top: -8px;
    font-size: 24px; 
    font-weight: bold;
    margin-left: 20px;
    padding-left: 20px;
    float: left;
}
.SiteId {
    padding-left: 34px!important;
    font-size: 20px;
    font-weight: bold;
    color: #fff; 
}

.CMI-other-cummins {
    padding-top: 5px;
}

.cc_home_slider{
    margin-top: -20px;
    margin-bottom: 20px;
}

.carousel {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.CMI-navbar>.container>a>.CMI-SiteId {
    color: #fff;
}

div#block2 a {
    color: #fff;
}

.main-menu{
    display: inline-block; 
    float: right; 
    margin-top: 13px; 
    margin-right: 15px;
    }

#navbar{
   padding-right:0px;
   margin-top: 0px;
}

#primary_nav_wrap {
	margin-top: 15px;
}

#primary_nav_wrap ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#primary_nav_wrap ul a {
	display: block;
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 32px;
	padding:0 10px;
}

#primary_nav_wrap ul a:hover {
	display: block;
	color:black;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 32px;
	padding: 0 10px;
}

#primary_nav_wrap ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#primary_nav_wrap ul li.current-menu-item {
	background: darkred;
    color: black!important;
    width: 35px;
}

#primary_nav_wrap ul li.current-menu-item a:hover {
	background: darkred;
    color: black!important;
    width: 35px;
}

#primary_nav_wrap ul li:hover {
	background-color:white;
    color: white!important;    
}

#primary_nav_wrap ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
    color: black;
	padding: 0
}

#primary_nav_wrap ul ul li {
	float: none;
	width: 200px;
}

#primary_nav_wrap ul ul a {
	line-height: 120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul {
	top: 0;
	left: 100%
}

#primary_nav_wrap ul li:hover > ul {
	display: block;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    z-index:10000;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;   // Add this, to prevent clicking dropdown's default click function
}

.dropdown-menu>li>a:focus{
    background-color:#fff!important;
}

/* -----Carousel Start ----- */

.breadcrumb {
    background-color: white !important;
    font-size: 13px;
    color: black !important;
    margin-top:-20px;
    margin-left: -14px;
}

.cc_breadcrumb a {    
    color: black;
}

.cc_breadcrumb a:hover {
    color: teal;
    text-decoration: none;
}

.carousel-img-height {
    height: 300px; 
    width: auto;
    }

.CMI-Splash-item>img {
    width:100%;
}

.cc_content_body{
    margin-top: -20px;
}

.CMI-ProductList-Panel {
    border: 0px;
    margin-top: 35px;
}

/* ---- Carousel End ------ */

/* ----Highlight products start -- */

.cc_spotlight_products > .cc_body > div > div > h5 > a.productName.cc_product_name {
    color: teal;
}

.CMI-Featured-Products-Panel {
    border: 0px;
}

.cc_feeatured_products > div:nth-child(2) > div > div {
    color: black;
    font-size: 18px;
}

p.description.cc_description {
    font-size: 13px;
}

.cc_sku_value, 
.cc_sku, 
.cc_sku_label{
    font-size: 13px;
    margin-top: 0px;
    padding-top:0px;
}

.cc_price_value {
    font-weight: 600;
}

a.productName.cc_product_name {
    font-size: 20px;
    color: teal;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 10px;
}

a.productName.cc_product_name :hover {
    font-size: 24px;
    color: teal;
    font-weight: bold;
    text-decoration: none;
}

.center-block{
    margin-right: 0px;
    margin-left: 0px;
}

.hl-card{  
    margin-top: 10px;
    padding-top: 0px;
    float: left;
    padding-bottom: 20px;
}

.hl-vline{
    height: 265px; 
    width: 1px;  
    background: teal;
    margin: 0 auto; 
    top: 425px; 
    bottom: 0; 
    position: absolute;
}
 
.hl-card:nth-child(1) {
    padding-left: 40px;
    width: 32%;    
}

.hl-card:nth-child(3), 
.hl-card:nth-child(5) {
    padding-left: 40px;
    width: 32%;
}

.hl-card:nth-child(5) {
    padding-left: 54px;
    width: 32%;
}


.hl-prod-title{
    font-size: 20px;
    color: teal;
    font-weight: bold;
}

.hl-img{
    height: 80px;
    width: auto;
    background-color: white; 
    padding-top: 25px;
}

.hl-des {
    font-size: 12px;    
}

.hl-more{
    color: teal;
    text-decoration: underline;
    font-size: 13px;
}

/* ----Highlight products End -- */


/* ----product connectivity start -- */
#prodProducts {
    font-size: 24px;
    font-weight: bold;
}

.prod-container {    
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px; 
    font-weight: bold;    
    border-top: 2px teal solid;    
    border-bottom: 1px solid lightgray;    
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 9px;    
    margin-top: 10px;
}

.prod-container > div {
    padding-left: 5px;    
}

#results {
    margin-top: 16px; 
    margin-left: 10px; 
    font-size: 13px; 
    margin-right: 20px;
}

.prod-sort {
    margin-top: 10px; 
    margin-left: 15px; 
    font-size: 12px; 
    margin-right: 5px;
}
.prodBtn {
    margin-left: 30px; 
    margin-top: 3px;
}

/* ----product connectivity ends -- */

/* ------- Productivity Products Start ----------*/

.cc_cat_name {
    margin-top: 0px;
    padding-left: 0px;
}

.CMI-Category-Header {
    height: 45px;
    border-bottom: 1px gray solid;
    padding-left: 0px;
}

.CMI-ProductList-heading {
    background-color: white;
    border-color: white;
}

CMI-Category-Header-Body {
    padding: 0px;
}

.CMI-ProductList-title {
    font-size: 24px;
    font-weight: 700;
}

.pp-card{
    border-right:1px solid teal; 
    line-height: 10px;
    margin-top: 15px;
    height: 270px;
}

.pp-card:nth-child(4){
    border-right: none;    
}

.CMI-Product-Name{
    font-size: 18px;
    font-weight: 600;
    color: teal;
    width: 12em; 
    overflow: hidden;
}

.CMI-Product-Name>a{
    font-size: 18px;
    font-weight: 600;
    color: teal !important;
    width: 12em; 
    overflow: hidden;
    text-decoration: none !important;
}

.CMI-Product-Name > img {
    margin-bottom: 10px;
}

.CMI-Product-Name>img {
    width: 200px;
    height: 150px;
    padding-top: 10px;
    margin-left: 0px;
}

.CMI-PP-Item>div>p>.CMI-Product-Name{
    line-height: 18px;
    display: flex;
    height: 40px;
    margin-top: 10px;
    align-items: center;
    text-decoration: none;
}

.cc_update_cart_button {
    color: teal;
}

.cc_product_name_img > img {
    height: 200px;
    width: 300px;
    margin-bottom: 15px;
    border: 1px lightgray solid;
}

.cc_desc {
    font-size: 12px;    
}

.pp-img{
    height: 80px;
    width: auto;
    background-color: white;
    margin-top: 25px;
}

.pp-des {
    font-size: 13px;    
}

.pp-more{
    color:teal;
    text-decoration: underline;
    font-size: 12px;
}

.cel {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #bfe2e2;
    font-size: 12px;
    height: 25px;
    border-left: 2px white solid;    
    border-bottom: 4px white solid;  
}

.cel2 {
    background-color: #bed4e2; 
}

hr{
    border-bottom: 1px solid #eee;
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

p.cc_enter_coupon_code {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
}

.cc_shopping_cart_discount_panel > .cc_body{
    padding-top: 0px;
}

.CMI-Cart-table-header {
    background-color: #000;
    color: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 10px;
}

.CMI-Cart-Quote-Table-header{
    text-align: center;
 }  

.CMI-Cart-Icons {
    display: flex; 
    flex-wrap: nowrap;
}

.caret {
    margin-left: 6px!important;
    border-top: 7px dashed !important;
    color: 999999 !important;
}


/*---- Productivity Products End ------------- */

/* Footer */

#footer {
    background-color: black;
    height: 28px;
    color: white;
    text-align: right;
    padding-top: 3px;
    margin-top: 30px;
}

.logo-footer {
    width: auto;
    height: 20px;
    margin-left: 12px;
}

.footer-text {
    color: white;
    font-size: 8px;
    padding-top: 13px;
    padding-left: 5px;
    float: left;    
}

.CMI-Footer-Logo {
    width: 50px;
    height: 40px;
    float: left;
}

.CMI-Footer-Logo > img {
    width: 32px;
    height: auto;
    padding-top: 11px;
    padding-bottom: 5px;
}
.CMI-Footer-CopyRight {
    width: 400px;    
    font-size: 10px;
    float: left;
    padding-top: 30px;
}

.CMI-Footer-CopyRight-Text { 
    text-align:  left; 
    padding-top: 30px; 
    padding-right: 20px; 
    padding-bottom: 0px;
    padding-left: 0px;
}

.CMI-Footer-Privacy {
    float: right;
    font-size: 12px;
    color: white;
    padding-top: 10px;
}
.CMI-Footer-Privacy a {
    color: white;
}

			
/* Footer */

/* Product Details Page */

.cc_product_type_standard{
    border: none;
}

.cc_title {
    font-size: 26px;
    font-weight: 700;
    color: black;
}

.CMI-spotlight-product-title {
    color: teal !important;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.CMI-spotlight-product-title>a {
    color: teal !important;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.cc_section_title {
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.CMI-Product-Detail-ShortDes{
    font-size: 16px;
    color: black;
    padding-bottom: 10px;
}

.CMI-Product-Detail-LongDes{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: black;
}

.CMI-Product-Detail-LongDes>span>ul>li{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: black;
}

.CMI-ProdName-Btn {
    color: black;
    border: none;
}


/* related items */

.CMI-related-products-title {
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-left: -14px;
}

.cc_secRelatedRelated_container {
    border: 0px;
    border-bottom: 1px solid teal;
    border-radius: 0px;
}

.CMI-Related-item {
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 4px;
    padding-left: 15px;
}

.CMI-Releated-item-title {    
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 50px;
    font-size: 14px;
    line-height: 18px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1em 0em;
    font-weight: bold;
}

.CMI-Releated-item-shortdesc {
    font-size: 11px;
    font-weight: normal;
    height: 150px;
}

p.cc_prod_name1>span {
    height: 80px;
    display: inline-block;  
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Image Size */
#related {
    width: 120px!important;
    height: 90px!important;
}

.cc_heading {
    background-color: transparent !important;
    border-bottom: darkgray;
    padding-bottom: 0px;
}

.cc_spotlight_products > .cc_heading {
    margin-bottom: 12px;
}

.product_detail_container .panel-heading {
    background-color: white;;
    border-bottom: 1px darkgray solid;  
}

.CMI-Quick-wishlist-item {
    height: 170px;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 4px;
}

.cc_data_link {
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.cc_data_link:hover {
    font-size: 13px;
    color: teal;
    text-decoration: none;
    font-weight: 700;
}

.cc_secRelatedRelated_container .cc_heading {
    background-color: transparent;
    border-bottom: 1px solid teal;
    padding-bottom: 2px;
}

h4.subscription_title {
    font-weight: 700;
    font-size: 18px;    
}

.divTableBorderRadiu {
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-radius: 0px!important;
    font-size: 13px!important;
}

/*
.divTableRow:nth-child(even) {
    background: #F6F6F6;
}

/* ----- Checkout User Information Styling --- */

.cc_userInfo_form{
 width: 100%;
}

.cc_userInfo_form .form-group {
    width: 45%;
    float: left;
    margin-right:40px;
}
.cc_address_entry_billing {
    width: 45%;  
    float: left;
    margin-right:40px;
}

.cc_address_entry_shipping {
      width: 45%;  
    float: left;
}

.cc_user_information p {
    clear: both;        
}

.cc_process_back {
    color: #fff;
    background-color: #0f4f77;
    border: none;
}

.processUserInfo {
    color: #fff;
    background-color: teal;
    border : none;
}

.cc_contact_input_firstname {
    width: 90%;
}

.cc_contact_input_lastname {
    width: 80%;
}

.cc_contact_input_phone {
    width: 50%;
}

.cc_contact_input_address {
    margin-bottom: 5px;
}
.cc_contact_input_email {
    width: 90%;
}

.billingcountry, 
.shippingcountry {
    width: 60%;
}
.billingstate, 
.shippingstate {
    width: 60%;
}
.cc_contact_input_city {
    width: 60%;
}

.cc_contact_input_postal_code {
  width: 30%;
}

.col-xs-12>.nav {
    height: 55px;
}

.cc_change_address_modal, 
.cc_copy_address {
    color: teal;
    font-size: 13px;
}

.cc_ship_guide_text {
    color: rgb(83,83,83);
    font-size: 13px;
    width: 70%;
    font-weight: 300;
}
.cc_coso_ship_notes {
    width: 60%
}

.cc_checkout_user_info {
    border: 0px;
}
.cc_shipnotes_label {
    font-weight: 700;
    font-size: 15px;
    margin-left: 5px;
}

.cc_shipping_conditions {
    color: teal;
    font-size: 13px;
}

.cc_checkout_review {
    border: none;
}

h5.cc_buyer_information {
    font-size: 20px;
    font-weight: Bold;
}

h5.cc_billing_address_label {
    font-size: 20px;
    font-weight: Bold;
}

h5.cc_shipping_address_label {
    font-size: 20px;
    font-weight: Bold;
}

.cc_shipping_information {
    font-weight: bold;
    font-size: 16px:
    padding-top: 10px;
}

.cc_edit_address_info, 
#edit_Shipping{
    color: teal;
    font-size: 13px;
}

.cc_shipping_notes_label {
    font-weight: bold;
    font-size: 13px;
}

.cc_addr_company {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}

.cc_addr_line, 
.cc_addr_city, 
.cc_addr_state, 
.cc_addr_postal, 
.cc_addr_country {
    font-size: 13px;
}

.cc_process_review {
    background-color: teal;
    color: #fff;
}
.cart_item>hr {
    border-bottom: 1px solid #eee;
}
.cc_add_coupon_id {
    width: 50%;
}
.cc_checkout_payment_panel, 
.cc_payment_po, 
.cc_body{
    border-left: none;
    border-right: 0px solid white;
}

.cc_payment_processor_mywallet{
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0px;
}

.cc_payment_types_container{
    width: 700px;
}

.panel_body, .cc_panel{
 border-color: #fff;   
}

.cc_payment_processor_mywallet{
    width: 700px;
}

#newWalletForm>.form-group>label{
    width: 180px;    
}

#newWalletForm>div>div{
    width: 400px;
}

#accountNumber{
    width: 200px;
}

#displayName{
    width: 350px;
}

.cc_po_action_buttons{
    float: left;
    margin-left: 165px;
}

.cc_payment_action_container{
    float: left;
}

.checkbox{
    margin-left: 65px;
    padding-top:0px;
}

.btn-outline-secondary {
    background-color: none;
    border: 1px gray solid;
}

.cc_continue_shopping_button, 
.checkOutBtn, 
.processShippingInfo, 
.cc_checkout_btn,
.cc_make_po_payment {
    background-color: teal;
    color: #fff;
    border: none;
}

.cc_continue_shopping_button,
.cc_use_stored_payment, 
.cc_rfq_link_button, 
.getExtPricingButton, 
.cc_create_cart_wishlist, 
.processBack,
#addCouponBtn, 
.cc_add_coupon{
    color: #fff;
    background-color: #0f4f77;
    border: none;
}

.cc_grand_total{
    font-size: 14px;
    font-weight: 800;
    color:#000;
}

.CMI-cart-table-columns > div {
    text-align: center;
}

#cart_items_container>hr{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.cc_order_history{
    font-weight: 700;
    color: teal;
}
a.cc_prod_link{
    color: teal;
    font-size: 14px;
    font-weight: 700;
}
.cc_payment_information{
    font-weight: 700;
    margin-bottom: 2px;
}

.cc_price{
    font-weight: 40;
}
.cc_checkout{
    margin-top: 20px;
    padding-right: 15px;
}

.cc_action_totals{
    padding-right: 15px;
}

.address_selection_display > span {
    font-size: 13px;
}

/* top Navigation Pills */

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
    background: rgb(13,13,13);
}

.nav-pills>li>a{
    background: lightgray;
    padding-right: 2px;
    border:1px solid white;
    color: rgb(109,108,108);
}
.nav-pills>li.disabled>a, .nav-pills>li.disabled>a:hover {
    background-color: rgb(219,218,218);
}
.CMI-divTable{
     display: table;
     width : 100%;
     margin-left: 0px;
     display : table;
     white-space: nowrap;
}
 .CMI-divTableBorderRadiu{
     border: 1px solid #999999;
     border-bottom-left-radius: .5rem;
     border-top-right-radius: .5rem;
     border-top-left-radius: 6px;
}
 .CMI-divTableRow {
     display: table-row;
}
 .CMI-btn-bg{
     background-color: #fff;
     border: 1px solid #ccc;
}
 .CMI-divTableCell, .CMI-divTableHead {
    /*border: 1px solid #999999;
    */
     display: table-cell;
     padding: 3px 10px;
}
 .CMI-divTableHeading {
     background-color: #EEE;
     display: table-header-group;
     font-weight: bold;
}
 .CMI-divTableFoot {
     background-color: #EEE;
     display: table-footer-group;
     font-weight: bold;
}
 .CMI-divTableBody {
     display: table-row-group;
}
 .CMI-image-size{
     width: 4rem !important;
     height: 4rem !important;
}
 .CMI-ProdName-Btn{
     width : 100%;
     align-content: center;
}
 .CMI-image-allign{
     align-content: center;
     text-align: center;
}
 .CMI-longdesc-wrap{
     height: 16rem;
     overflow: hidden;
}
 .CMI-displayDivNone{
     display : none !important;
}
 .CMI-button-color{
     background-color: #31b0d5;
}
 .CMI-displayBaseDiv {
    /*display : none !important;
    */
}
 .CMI-displayPlusDiv {
    /*display : none !important;
    */
}
 .CMI-displayProDiv {
    /*display : none !important;
    */
}
 .CMI-more-button{
     border: none;
     background-color: white;
     text-decoration: underline;
     padding-top: 15px;
     margin-left: -6px;
}
 .CMI-outer-border{
     border-left : 1px solid #999999;
     border-right : 1px solid #999999;
}
 #CMI-LongDescAlignment{
     text-align: justify;
}
 #CMI-subsetting{
     white-space: nowrap;
}
 #CMI-Product-Detail{
     width:400px;
     height:300px;
}
 .CMI-billing-margin{
     margin-left: 3%;
     margin-right: 2%;
}

 .CMI-qty-allign{
     padding-left: 0px;
     padding-right: 0px;
     text-align: right;
}

 .CMI-zero-margin{
     margin:0px;
}

.CMI-padding-cs{
     padding-left: 0px;
     padding-right: 0px;
     text-align: right;
}

.CMI-width-cs{
     width : 25%; 
}

.CMI-margin-lf{
     margin-left: 14rem;
}

.CMI-margin-left{
     margin-left: 0rem;
}

.CMI-bottom-border{
     border-bottom: 1px solid #999999;
}
.CMI-padding-tcost{
     padding-left: 0px;
     padding-right: 0px;
     text-align: left;
     margin-top: 7px;
}

.CMI-margin-lrem {
     margin-left: 0rem;
}

.cc_value >ul>li {
    padding-bottom: 14px;
    line-height: 17px;
    padding-left: 0px;
    margin-left: -25px;
    width: 400px;
}

/* CMI DA Products Table Alignment */

.CMI-DA-table-body {

}


.CMI-DA-table-body > .CMI-DA-table-row{
    border-bottom: 1px rgb(224,221,221) solid;
}

.CMI-DA-table-body > .CMI-DA-table-row:nth-child(1){
    padding-bottom: 5px;
}

.CMI-DA-table-row {
    display: table-row; 
    border-bottom: 1px solid lightgray;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}

.CMI-DA-table-cell-image{
    width: 8%;
    float: left;
    margin-left: 10px;   
    padding-top: 3px;
    margin-left: 20px;
}

.CMI-DA-table-cell-name{
    width: 70%;
    float: left;
    padding-top: 8px;
    font-weight: 400;
    font-weight: 500;
}

.CMI-DA-table-cell-Base {
    width: 15%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.CMI-DA-table-cell-Base > span {
    width: 15%;
    float: left;
    padding-left: 25px;
}

.CMI-DA-table-cell-Plus{
    width: 15%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.CMI-DA-table-cell-Plus > span{
    width: 15%;
    float: left;
    padding-left: 25px;
}

.CMI-DA-table-cell-Pro{
    width:15%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.CMI-DA-table-cell-Pro > span{
    width: 15%;
    float: left;
    padding-left: 25px;
}

.CMI-padding-tcost{
    font-weight: 600;
    padding-left: 12px;
    font-size: 14px;
}

/* DA Table Alignment End */

/* top Navigation Pills END */

/* Home Page Styleing */

.form-group > .control-label{
    font-size: 13px;
    text-align: right;
    padding-right: 10px;
}
.CMI-DA-table {
    display: table;
    width: 100%; 
    border-top: 0px solid rgb(190,186,186);
    margin-left: 0px;
}


.baseColor {
    border-right: 1px solid teal;
    border-left: 1px solid teal;
    display: table-cell;
    padding: 3px 5px;
    text-align: center;
    vertical-align: middle
    width: 35%;
}

.plusColor {
    border-right: 1px solid teal;
    border-left: 1px solid teal;
    display: table-cell;
    padding: 3px 5px;
    text-align: center;
    vertical-align: middle
    width: 35%;
}

.proColor {
    border-right: 1px solid teal;
    border-left: 1px solid teal;
    display: table-cell;
    padding: 3px 5px;
    text-align: center;
    vertical-align: middle
    width: 35%;
}

.subcQty {
    width: 70px;
}

.cc_dropdown-menu {
    font-size: 13px;
}

#processAddToCart{
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 15px;
}

#processAddToCart:hover{
    background-color: teal;
    color: #fff;
    margin-top: 10px;
    margin-right: 15px;
}

.CMI-cart-titles{
    font-size: 20px;
    font-weight: bold;
}

.cc_add_item{
    background-color: teal;
    border: none;
    color: #fff;
}

.costPerYear{
    margin-top: 7px!important;
    font-weight: bold;
    font-size: 13px;
}

.CMI-ProdName-Btn:hover{
    background-color: teal;
    border: none;
    font-weight: bold;
}

.subscription_title{
    text-align: left;
}

.CMI-Product-Detail-Links {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.CMI-link-icons{
    padding: 0px 10px;
}
/* Home Page Styling */

/* SES Product List */

@media (min-width: 1200px) {

    .CMI-row-style>div:last-child{
        text-align: center;
    }

    .CMI-SES-sub-head{
        font-size: 20px;
    } 
    .control-label, .CMI-SES-Bundles{
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width: 1140px){
    
    .CMI-row-style{
        font-size: 13px;
    }
    .CMI-row-style>div:last-child{
        text-align: center;
    }
    .CMI-SES-sub-head{
        font-size: 24px;
    } 
}

@media ((min-width: 398px) and (max-width: 960px)){
 
    .CMI-SES-included-products {
        width: 200px;
    }   
    
    .CMI-row-style>div:last-child{
        text-align: left;
    }
    .CMI-SES-Lmargin{
        margin-left: 0px;
    }
    .CMI-SES-sub-head{
        font-size: 24px;
    }     
}

.container {
    margin-left: auto;
    margin-right: auto;
    border: 0px solid lightgray;
}

.SES {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}

.CMI-SES-included-products{
    width: 200px;
    float: left;
}

.CMI-SES-sub-head{
    font-weight: bold;
    font-size: 20px;
}

.CMI-SES-users-icon {
    width: 70px;
    float: right;
    padding-top: 10px;
}
.CMI-row-style{
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.CMI-DA-table-body>.row {
   margin-left: 0px;
   margin-right: 0px;
}

.CMI-product-left-margin{
    margin-left: 0px;
    margin-right: 0px;
}

.CMI-SES-prod-list>div:last-child {
    border-bottom: 1px solid gray;
}

.CMI-SES-Product-list-Name {
    font-weight: bold;
}

.CMI-SES-right-margin{
    margin-left: 0px;
    margin-right: 15px;
}

.CMI-SES-subtotal {
    border-top: 1px solid gray; 
    padding-top: 5px;
    padding-bottom: 5px; 
    margin-left: 0px;
    margin-right: 15px;
}

.CMI-SES-upgrade-valign {
    display: flex; 
    align-items: center;
    padding-bottom: 6px;
}

.CMI-SES-price {
    font-weight: bold;
    margin-left: 20px;
}

.CMI-SES-total {
    border-top: 1px solid gray; 
    padding-top: 5px;
    padding-bottom: 5px; 
}

.CMI-SES-right {
    float: right;
    margin-right: 10px;
    padding-bottom: 10px;
}

.CMI-SES-right-add2cart, .CMI-DA-add2cart {
    float: right;
    padding-bottom: 10px;
}

.CMI-first-30 {
    padding-right: 10px; 
    font-weight: bold;
}

.CMI-SES-add2cart, .CMI-DA-add2cart {
    float: right;    
    background-color: teal;
    border: none; 
    color: #fff;
    margin-right: 0px;
}

.CMI-SES-subscription {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 15px;
}

.CMI-SES-links {
    text-decoration: none;
}

.CMI-DA-Packages {
    background-color: teal;
    color: #fff;
}

.CMI-cart-subtotal-label {
    font-size: 16px;
    font-weight: 700; 
    padding-left: 15px;
}

.CMI-cart-subtotal {
    font-size: 16px;
    font-weight: 700;
}

.CMI-cart-discount-panel {
    margin-left: 12px;
}

.CMI-row-style:nth-child(1) {
    border-top: 1px solid rgb(168,166,166);
}

.CMI-SES-top-padding {
    padding-top: 20px;
    vertical-align: middle;
    display: flex;
}

.panel-heading {
    border-bottom: 2px solid teal!important;
    padding-left: 5px !important;
    padding-right: 0px;
/*    border-top: 1px solid gray; */
    background-color: #fff!important;
    padding-bottom: 0px;
}

.cc_cart_sort{
    display:none;
}

.CMI-DA-current {
    background-color: #b1d6d6;
    border-bottom: 3px #fff solid;
    display: inline-block;
    text-align: right;
}

.CMI-DA-current, .CMI-DA-current-number{
    background-color: #b1d6d6;
    border-bottom: 3px #fff solid;
    display: inline-block;
    text-align: center;
}

.CMI-DA-active {
    background-color: #beccda;
    text-align: right;
    display: inline-block;
    text-align: right;
}

.CMI-DA-active-number {
    background-color: #beccda;
    display: inline-block;
    text-align: center;
}

.CMI-DA-current, .CMI-DA-active {
    border-right: 3px #fff solid;
    padding-bottom: 2px;
}

.CMI-DA-current, .CMI-DA-current-number, .CMI-DA-active, .CMI-DA-active-number  {
    padding-top: 3px;
 /*   padding-bottom: 3px; */
    font-size: 11px;
    font-weight: bold;
}

.margin15{
    margin-left: -14px;
}

.CMI-Hero-image>img {
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.CMI-PP-Item > div {
    height: 270px;
}

.prodDetRel {
    height: 90px !important;
}

.prodListSec {
    margin-bottom: 40px;
}

